.table-container {
  display: flex;
  flex-flow: column nowrap;
  max-width: 95%;
}

.table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 95%;
  table-layout:fixed
}

.table th {
  border: 1px solid black;

}
.table td {
  border: 1px solid black;
  word-wrap: break-word;
}