.table-container {
  display: flex;
  flex-flow: column nowrap;
  max-width: 95%;
}

.table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 95%;
}

.table th {
  border: 1px solid black;
}

.table td {
  border: 1px solid black;
  word-wrap: break-word;
}
